.text-black {
  color: black !important;
}

.bg-black {
  background-color: black !important;
}

.button-hover:hover {
  background-color: #e5e7eb;
}
.no-underline {
    border-bottom: none !important;
  }
  
  

  .tab-container {
    display: inline-flex;
    background-color: #f4f4f4; /* Fond gris clair */
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px; /* Ajout d'un espace sous la barre */
  }
  
  .tab {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab:hover,
  .tab.active {
    background-color: #81e6d9; /* Couleur de l'onglet actif */
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
  }
  

  .tab.active {
    background-color: #81e6d9;
    border-radius: 6px;
    color: white;
  }
  