.classrooms-container {
  padding: 20px;
  background-color: #16b599;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classroom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  justify-content: space-between;
}

.classroom-item {
  flex: 1 1 calc(33% - 10px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.classroom-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: #007bff;
}

.exams-list {
  margin-top: 25px;
  padding: 15px;
  border-top: 2px solid #007bff;
  background-color: #f0f8ff;
  border-radius: 8px;
}

.exam-item {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  transition: box-shadow 0.2s;
}

.exam-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #90ee90; /* Vert clair */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #32cd32; /* Vert un peu plus foncé */
}